.card__like {
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    height: 22px;
    width: 19px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.card__like:hover {
    opacity: 0.6;
}

.card__like:active {
    fill: #000000;
}